.container .header h1 {
    text-align: center;
    font-weight: 100;
    font-size: 100px;
    color:rgba(8, 9, 29, 0.15);
    padding: 10px;
}
.container .filters {
    padding: 15px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    h2 {
        text-align: right;
        font-weight: 150;
        display: inline-block;
        border-radius: 0px;
    }

    .filter-select {
        height: auto;
        background-color: #fff;
    }

    .filter-value {
        text-indent: 5px;
    }
}

.container .content-countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.container .pagination {
    grid-column: 1 / 5;
    margin: 0 auto;
}

.content-countries .country-card {
    cursor: pointer;
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, 0.055);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template: "flag namecapital namecapital namecapital namecapital namecapital"
                   "language language currency currency region region";

    ul {
        list-style: none;    
    }
}

.content-countries .country-card .flag{
    grid-area: flag;

    .flag-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.content-countries .country-card .country-name-capital{
    grid-area: namecapital;
    small {
        color: rgba(0, 0, 0, 0.356);
    }
}

.content-countries .country-card .language, 
.content-countries .country-card .currency,
.content-countries .country-card .region {
    border-right: solid 1px rgba(0, 0, 0, 0.055);
    padding: 5px;

    small {
        color: rgba(0, 0, 0, 0.486);
    }
    li small {
        color: rgba(0, 0, 0, 0.356);
    }
}

.content-countries .country-card .language {
    grid-area: language;
} 

.content-countries .country-card .currency {
    grid-area: currency;
}

.content-countries .country-card .region {
    grid-area: region;
}

.btn-filter {
	background-color:#c4e1f3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#25a6f7;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
    text-decoration:none;
    box-shadow: none;
    border-color: transparent;
}
.btn-filter:hover {
	background-color:#b5d9f0;
}
.btn-filter:active {
	position:relative;
	top:1px;
}

.btn-filter:disabled {
	background-color:#d0e4f5;
}


@media screen and (max-width: 1005px) {
    .container .content-countries {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-countries .pagination {
        grid-column: 1 / 4;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container .content-countries {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-countries .pagination {
        grid-column: 1 / 3;
        margin: 0 auto;
    }
}